pip install pytorch3d==0.2.5
pip install kornia==0.4.0 
pip install matplotlib
pip install opencv-python
pip install trimesh
pip install scipy
pip install chumpy
pip install pymp
pip install importlib-resources
pip install pycocotools
pip install openpyxl
pip install dominate
pip install git+https://github.com/runa91/FrEIA.git
